<div>
  <label>Speed {{-eat-rounded speedPercent}}%</label>
  <div>
    <div class="eat-time-control--tick-marks">
      {{#each tickMarks as |tickMark|}}
        {{! template-lint-disable no-inline-styles }}
        <div style={{tickMark.position}} role="button" {{action tickMarkChosen tickMark }}>
          <span>{{tickMark.text}}</span>
        </div>
      {{/each}}
    </div>
    <input class="eat-time-control--slider" type="range" value={{logSpeed}} min="0" max="200" step="1" oninput={{action updateLogSpeed}}  >
  </div>
</div>
